* {
  color: #FF5733;
  color: #45cab0;
  color: hsl(204, 70%, 53%);
  color: #E74C3C;
  color: #9B59B6;
  color: #1d81fa;
  color: #1dfaa3;
  color: #fa1d81;
  color: #81fa1d;
  color: #1dfa81;




  color: #F0F0F0;
  color: #F5F5DC;
  color: #F39C12;
  color: #2E8B57;
  color: #654321;
  color: #2c3e50;
  color: #1abc9c;
  color: #34495e;

}